<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <script src="/socket.io/socket.io.js"  >
 </script>
</head>
<body>
    <h1>Hello </h1>
    <p></p>
<script>
const socket = io.connect("ws://localhost:3000") ;
socket.on("msg" , (data)=>{
const paragraph = document.createElement("p") ;
paragraph.innerHTML = data ;
document.body.append(paragraph);
})
</script>


</body>
</html>